 @media only screen and (max-width: 1150px) {
     .main-menu ul li a {
         margin-left: 10px;
         margin-right: 10px;
    }
     .agile-map-area {
         position: inherit;
         right: auto;
         top: auto;
         margin-bottom:20px;
    }
}
 @media only screen and (max-width: 991px){
     .main-menu ul li a {
         margin-top:10px;
         margin-bottom:10px;
    }
     .main-menu ul li a:hover:before{
         height: 20px;
         width:2px;
    }
     .agile-site-image {
         position: inherit;
         right: auto;
         top: auto;
         width: 100%;
         text-align: center;
         max-width:inherit;
    }
     .agile-single-option{
         margin-left:0px;
    }
}
 @media only screen and (max-width: 767px){
     body{
         font-size:14px;
    }
     .main-menu ul{
         text-align:left;
    }
     .main-menu ul li {
         display: inline-block;
         width: 100%;
    }
     .agile-who-we{
         font-size:14px;
    }
     .margin-50{
         height:20px;
    }
     h2.agile-heading{
         font-size:25px;
    }
     .main-menu ul li a:hover:before{
         display:none;
    }
     .agile-single-how-work{
         margin-top:20px;
    }
     .agile-text-how-work h3, .angile-benefit-text h3, .angile-contact-area h3{
         font-size:20px;
    }
     .agile-benefits-area {
         padding: 30px 0;
         font-size: 14px;
    }
     .angile-single-benefit{
         margin-top:20px;
    }
     .angile-contact-area{
         padding:20px 0;
    }
     .agile-social-links{
         text-align:center;
    }
     .agile-footer-top-area .text-center{
         text-align:center!important;
    }
     .agile-footer-top-area{
         font-size:14px;
    }
     .agile-footer-top-area h3{
         font-size:18px;
    }
     .agile-social-links li a{
         line-height:2;
    }
     .single-widget{
         text-align:center;
         margin-bottom:15px;
    }
     .agile-cat-area h2, .agile-requests-area h2, .agile-my-earnings-area h2, .agile-customer-payment h2, .agile-transport-area h2{
         font-size:25px;
    }
     .agile-single-cat h4, .agile-requst-body span{
         font-size:14px;
    }
     .agile-requests-area h3, .agile-customer-payment h3{
         font-size:16px;
    }
     .agile-requst-heading h4{
         font-size:15px;
    }
     .agile-requst-body h4{
         font-size:12px;
    }
     .agile-single-option{
         margin-bottom:15px;
    }
}
 @media only screen and (max-width: 450px){
     a.navbar-brand {
         max-width: 50%;
    }
     .agile-my-earnings-area {
         text-align: center;
    }
     .agile-earing-date, .agile-earing-static{
         max-width:100%;
         width:100%;
    }
     .agile-earing-static p{
         text-align:center;
         display:inline-block;
    }
     .agile-single-shaping {
         margin-right: 8px;
    }
}
 