/********************
 Common css start
********************/
a,
a:active,
a:focus,
a:active {
    text-decoration: none !important
}

a:focus {
    outline: 0px solid
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0 0 15px;
}

a {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

input:focus,
textarea:focus {
    outline: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    background-color: #002240;
    color: #fff;
    background-image: url(../images/body-background.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

nav.navbar {
    width: 100%;
}

.agile-header-area {
    box-shadow: 0px 0px 20px 3px #0009;
    -webkit-box-shadow: 0px 0px 20px 3px #0009;
    -moz-box-shadow: 0px 0px 20px 3px #0009;
    -o-box-shadow: 0px 0px 20px 3px #0009;
    position: relative;
    z-index: 2;
}

.main-menu ul {
    text-align: right;
    width: 100%;
}

.main-menu ul li {
    display: inline;
}

.main-menu ul li a {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    color: #ffffff;
    position: relative;
}

.main-menu ul li:last-child a {
    margin-right: 0px;
}

.main-menu ul li a:hover:before {
    content: "";
    height: 50px;
    background-color: #C7C737;
    position: absolute;
    bottom: 105%;
    left: 45%;
    width: 4px;
}

h2.agile-heading {
    font-size: 31px;
    color: #c6c647;
    font-weight: 700;
    margin-bottom: 20px;
}

.margin-50 {
    height: 50px;
}

.agile-footer-top-area {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 15px;
}

.agile-footer-top-area h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.agile-footer-top-area a {
    color: #fff;
}

.agile-footer-bottom-area {
    font-size: 15px;
}

.agile-social-links {
    text-align: right;
}

.agile-social-links li {
    display: inline;
}

.agile-social-links li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 1.8;
    margin-left: 5px;
}

/********************
 Common css end
********************/

/*********************
	Home page start 
 *********************/
.agile-banner-area img {
    width: 100%;
}

.agile-who-we {
    padding: 20px 0;
    position: relative;
    font-size: 24px;
    min-height: 470px;
}

.agile-site-image {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    max-width: 650px;
}

.agile-single-how-work {
    margin-top: 40px;
}

.agile-how-it-work {
    padding: 30px 0;
    box-shadow: 0px 6px 35px 0px #0009;
    -webkit-box-shadow: 0px 6px 35px 0px #0009;
    -moz-box-shadow: 0px 6px 35px 0px #0009;
    -o-box-shadow: 0px 6px 35px 0px #0009;
    position: relative;
    z-index: 2;
}

.agile-icon-how-work {
    height: 120px;
    width: 120px;
    background-color: #14456A;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 120px;
}

.agile-text-how-work {
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.agile-text-how-work h3 {
    font-size: 27px;
    color: #c6c647;
    font-weight: 700;
    margin-bottom: 5px;
}

.angile-benefit-text h3 {
    font-size: 27px;
    color: #c6c647;
    font-weight: 700;
    margin-bottom: 0px;
}

.agile-benefits-area {
    padding: 60px 0;
    background-color: #002B4B;
    font-size: 23px;
}

.angile-benefit-image {
    width: 20%;
}

.angile-benefit-text {
    width: 80%;
    padding-left: 3%;
}

.angile-single-benefit {
    margin-top: 40px;
}

.angile-contact-area {
    background-color: #033252;
    padding: 40px 0;
    box-shadow: 0px 10px 42px 0px #0009;
    -moz-box-shadow: 0px 10px 42px 0px #0009;
    -webkit-box-shadow: 0px 10px 42px 0px #0009;
    -o-box-shadow: 0px 10px 42px 0px #0009;
}

.angile-contact-area h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-form input {
    background-color: #26557C;
    width: 100%;
    color: #fff;
    height: 45px;
    padding-left: 15px;
    border: 0px;
    border-radius: 5px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: #fff;
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
    color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #fff;
    opacity: 1 !important
}

.contact-form textarea {
    background-color: #26557C;
    width: 100%;
    color: #fff;
    height: 110px;
    padding-left: 15px;
    border: 0px;
    border-radius: 5px;
    padding-top: 10px;
}

.contact-form {
    margin-bottom: 10px;
}

.contact-form button[type="submit"] {
    cursor: pointer;
    background-color: #C7C737;
    border: 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: #142e59;
    height: 40px;
    width: 110px;
    border-radius: 100px;
    float: right;
}

.agile-banner-area {
    padding-top: 30px;
}

/********************* 
	Home page end 
*********************/

/**********************
	Cat page css start 
 **********************/
.agile-cat-area {
    min-height: 500px;
    padding-top: 60px;
}

.agile-cat-area h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

.agile-single-cat {
    background-color: #033658;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.agile-single-cat h4 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top: 10px;
}

.footer-shadow {
    margin-bottom: 70px;
    box-shadow: 2px 2px 30px 0px #0009;
    -webkit-box-shadow: 2px 2px 30px 0px #0009;
    -moz-box-shadow: 2px 2px 30px 0px #0009;
    -o-box-shadow: 2px 2px 30px 0px #0009;
}

/********************** 
	Cat page css end 
**********************/

/**********************
	Request page css end 
 **********************/
.agile-single-request {
    background-color: #06385B;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.progress {
    height: 5px;
    background-color: #052842;
}

.progress-bar {
    background-color: #00D746;
}

.progress .progress-bar {
    animation-name: animateBar;
    -webkit-animation-name: animateBar;
    -moz-animation-name: animateBar;
    -o-animation-name: animateBar;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -o-animation-duration: .8s;
}

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.agile-requst-heading h4 {
    font-size: 19px;
    color: #c6c647;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agile-requst-body h4 {
    margin: 0px;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    float: left;
}

.agile-requst-body span {
    display: inline-block;
    text-align: right;
    width: 50%;
    font-size: 16px;
}

.padding-10 {
    padding: 0px 10px;
}

.agile-requst-bar {
    margin-top: 5px;
}

.agile-requests-area h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

.agile-requests-area h3 {
    font-size: 20px;
    font-weight: 700;
    ;
}

.agile-requests-area {
    padding-top: 60px;
    padding-bottom: 10px;
    min-height: 600px;
}

.agile-requst-body {
    min-height: 25px;
}

.agile-active-info p {
    font-size: 14px;
    margin: 0px;
    position: relative;
}

p.agile-active-user,
p.agile-deactive-user {
    padding-left: 15px;
    display: none;
}

p.user-status {
    display: block;
}

p.agile-active-user:before {
    content: "\f111";
    font-family: "fontawesome";
    color: #00CF00;
    position: absolute;
    left: 0px;
    top: -1px;
}

p.agile-deactive-user:before {
    content: "\f017";
    font-family: "fontawesome";
    position: absolute;
    left: 0px;
    top: -1px;
}

/********************** 
	Request page css end 
**********************/

/**********************
	MyEarnings page css start 
**********************/
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #043556;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.agile-single-option .custom-select {
    background-image: inherit;
    background-color: #043556;
    padding: 0px;
    border: 0px;
    border-radius: 25px;
    font-size: 13px;
    height: inherit;
    text-align: left;
}

.agile-single-option .select-items div,
.select-selected {
    border-radius: 20px;
}

.agile-single-option {
    display: inline-block;
    min-width: 150px;
    margin-left: 40px;
}

.agile-single-option .select-selected:after {
    top: 20px;
    border-color: #5981A4 transparent transparent transparent;
}

.agile-my-earnings-area {
    padding: 50px 0;
    min-height: 600px;
}

.agile-my-earnings-area h2 {
    font-size: 31px;
    font-weight: 700;
}

.agile-my-earning-single p {
    margin: 0px;
}

.agile-my-earning-single {
    padding-bottom: 30px;
    padding-left: 20px;
    position: relative;
    font-size: 15px;
    clear: both;
    display: inline-block;
    width: 100%;
}

p.agile-earndate {
    font-size: 18px;
    font-weight: 700;
}

.agile-earing-date {
    min-width: 210px;
}

.agile-earing-static p {
    text-align: right;
    position: relative;
    margin-top: 26px;
}

.agile-earing-static {
    min-width: 100px;
}

.agile-my-earning-single::before {
    content: "";
    border-left: 6px dashed #043758;
    position: absolute;
    left: 0px;
    height: 83%;
    top: 7px;
}

.agile-my-earning-single::after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #C7C737;
    position: absolute;
    left: -2px;
    top: -8px;
    border-radius: 50%;
}

.agile-earing-static p::before {
    content: "";
    height: 18px;
    width: 18px;
    background-color: #00DA5A;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    right: -30px;
}

p.agile-panding-static:before {
    background-color: #FF9200;
}

/********************** 
	MyEarnings page css end 
**********************/

/******************************** 
	Customer payment page css start 
********************************/
.agile-customer-payment {
    padding-top: 50px;
    padding-bottom: 100px;
}

.agile-customer-payment h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 0px;
}

.agile-customer-payment h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.agile-customer-payment input[type=text] {
    background-image: url(../images/dollear-icon.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 50px;
    border: 0px;
    height: 45px;
    border-radius: 25px;
    background-color: #043759;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
}

.agile-customer-payment input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.agile-customer-payment input::-moz-input-placeholder {
    color: #fff;
    opacity: 1;
}

.agile-customer-payment input::-o-input-placeholder {
    color: #fff;
    opacity: 1;
}

.agile-customer-payment button[type=submit] {
    height: 42px;
    background-color: #C7C737;
    padding: 2px 10px;
    color: #142e59;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    border: 0px;
    border-radius: 50px;
    float: right;
}

.agile-single-customer-data {
    background-color: #06385B;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    border-radius: 30px;
    font-size: 13px;
    margin-bottom: 60px;
}

.agile-payment-details {
    padding-bottom: 10px;
    margin-top: 5px;
    position: relative;
    display: none;
}

.agile-payment-trash {
    color: #5981A4;
    position: absolute;
    right: 0px;
    bottom: 20px;
    cursor: pointer;
}

.agile-payment-info::before {
    content: "\f283";
    font-family: "fontawesome";
    position: absolute;
    left: -34px;
    color: #5981A4;
    font-size: 18px;
    top: 0px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.agile-payment-info {
    position: relative;
    cursor: pointer;
}

.agile-payment-info:after {
    content: "\f0d7";
    font-family: "fontawesome";
    position: absolute;
    right: 0px;
    color: #5981A4;
    font-size: 20px;
    top: 0px;
}

.agile-payment-info.agile-down::after {
    content: "\f0d8";
}

.agile-customer-payment form {
    min-height: 350px;
}

.agile-single-shaping {
    display: inline-block;
    text-align: center;
    max-width: 56px;
    margin-right: 20px;
    font-size: 10px;
    color: #657b98;
    vertical-align: top;
}

.agile-tab-links ul li {}

.agile-tab-links ul li a {
    font-size: 16px;
    color: #ffffff;
    opacity: .3;
    margin-right: 30px;
    font-weight: 700;
}

.agile-tab-links ul li a.active {
    color: #c6c647;
    opacity: 1;
    text-decoration: underline !important;
}

.nav-tabs {
    border-bottom: 0px;
}

.agile-shaping-from h3 {
    font-size: 14px;
    font-weight: 700;
}

.agile-tab-body {
    font-size: 10px;
}

.agile-shaping-from input {
    width: 100%;
    background-color: #06385B;
    border: 0px;
    outline: 0px;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
}

.agile-shaping-from input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.agile-shaping-from input::-moz-input-placeholder {
    color: #fff;
    opacity: 1;
}

.agile-shaping-from input::-o-input-placeholder {
    color: #fff;
    opacity: 1;
}

.margin-10 {
    height: 10px;
}

.agile-transport-area button[type=submit] {
    float: right;
    cursor: pointer;
    background-color: #C7C737;
    border: 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    height: 44px;
    width: 120px;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.agile-transport-select .custom-select {
    background-color: #063A5E;
    background-image: inherit;
    padding-left: 20px;
    border: 0px;
    border-radius: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.agile-transport-area {
    padding-top: 55px;
}

.agile-transport-area h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

.agile-transport-select::before {
    content: """";
    background-image: url(../images/dollear-icon.png);
    background-repeat: no-repeat;
    width: 29px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    background-position: 7px center;
}

.agile-transport-select {
    position: relative;
}

.agile-map-area {
    position: absolute;
    right: 0px;
    top: -110px;
}

/******************************** 
	Customer payment page css end 
********************************/

