$energized: #4c171d;
$stable: #4c171d;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.centro {
	margin: 0 auto;
}

.centro1 {
	margin: auto 0;
}

.centro2 {
	margin: auto auto;
}

.flex-left {
	display: flex;
	position: absolute;
	width: 10%;
	left: 0px;
}

.flex-right {
	display: flex;
	position: absolute;
	width: 10%;
	right: 0px;
}

.txt {
	width: 75%;
}

.total {
	width: 100%;
}

.txt-tam {
	font-size: 12px;
	padding: 5px;
}

.txt-centro {
	text-align: center;
}

.sem-borda {
	border: none;
}

.sem-margem {
	margin: 0px !important;
}

.sem-padding {
	padding: 0px;
}

.frente {
	z-index: 99;
}

.lista {
	width: 70px;
	text-align: center;
}

// This code is required for Angular Google Maps to funciton
ui-gmap-google-map {
	height: 100%;
	width: 100%;
	display: block;
	.angular-google-map {
		height: 100%;
		.angular-google-map-container {
			height: 100%;
		}
		
	}
}
.mes {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	height: 25px;
	width: 240px;
}

.semana {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	height: 25px;
	width: 30px;
}

.dia {
	font-size: 12px;
	text-align: center;
	height: 25px;
	width: 30px;
}

.evento {
	position: relative;
	font-size: 9px;
	color: #C30;
	right: -7px;
	top: -9px;
}

.hora {
	padding: 0px;
	justify-content: space-around;
}

.direita {
	text-align: right;
}

.bg {
	background: linear-gradient(#5480ff, #acc1fc);
}

.btn {
	width: 50%;
	margin: 0 auto;
}

.radius {
	border-radius: 7px;
}

.fundo {
	background: $stable;
}

.ctn {
	width: 90%;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0px 2px 10px 0px #c2c2c2;
}

.place > input::placeholder {
	font-weight: 500;
	color: $stable;
}

.relative {
	position: relative;
}

.btn-ft {
	display: flex;
	position: absolute;
	left: 46%;
	top: 70%;
}

.branco {
	background-color: #fff;
	border-radius: 7px;
}

.radius {
	border-radius: 7px;
	> a > img {
		border-radius: 7px;
	}
	
}
.bar.bar-stable .title, .bar-stable .button, .bar-stable .button.button-clear {
	color: #fff;
}

.margem {
	margin: 0px 5px;
}

.cor {
	color: #fff !important;
}