<ion-view title="AgendamentoConcluido" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 8vh;"></div>
    <h1 id="agendamentoConcluido-heading28" style="color:#000000;text-align:center;" class="ion-checkmark-circled">
      <br>SUCESSO!</h1>
    <div class="spacer" style="height: 5vh;"></div>
    <h4 id="agendamentoConcluido-heading29" style="color:#000000;text-align:center;">Seu agendamento foi concluído com sucesso!</h4>
    <div class="spacer" style="height: 5vh;"></div>
    <a ui-sref="tabsController.minhaAgenda()" id="agendamentoConcluido-button24" style="font-weight:500;" class="button button-dark button-block">VER AGENDAMENTO</a>
    <a ui-sref="tabsController.home_tab1()" id="agendamentoConcluido-button45" style="font-weight:500;" class="button button-dark button-block">IR PARA HOME</a>
  </ion-content>
</ion-view>