<ion-view title="AgendarVisita" id="page13">
  <ion-content padding="true" class="has-header" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;">
    <ion-list id="agendarVisita-list17" class="branco radius shadow ctn">
      <ion-item class="item-icon-left calm sem-borda" id="agendarVisita-list-item17">
        <i class="icon ion-ios-location"></i>
        <b>
          <span class="stable" style="color: #daa23e;">{{estabelecimento.endereco}}, {{estabelecimento.numero}} - {{estabelecimento.bairro}}
          <br>{{estabelecimento.cidade}} - {{estabelecimento.estado}}</span>
        </b>
      </ion-item>
      <ion-item class="item-icon-left calm sem-borda" ng-if="profissionalEscolhido.dados">
        <i class="icon ion-ios-contact"></i>
        <b>
          <span class="stable" style="color: #daa23e;">Profissional: {{profissionalEscolhido.dados.nome}}</span>
        </b>
      </ion-item>
      <ion-item class="item-icon-left calm sem-borda" ng-if="diaEscolhido">
        <i class="icon ion-ios-calendar"></i>
        <b>
          <span class="stable" style="color: #daa23e;">{{diaEscolhido}}h</span>
        </b>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 2vh;"></div>
    <ion-list>
      <div>
        <form id="cadastro" class="list">
          <label class="item item-input item-select sem-borda branco radius shadow ctn">
            <div class="input-label" style="color:#4c171d;">
              Profissionais
            </div>
            <select ng-model="profissionalEscolhido.dados" ng-options="profissional.nome for profissional in profissionais track by profissional.id" ng-change="changeProfissional()">
              <option selected>Selecione</option>
              <option value="{{profissional.id}}" ng-repeat="profissional in profissionais">{{profissional.nome}}</option>
            </select>
          </label>
        </form>
      </div>
      <div ng-if="profissionalEscolhido.dados">
        <h5 id="agendarVisita-heading14" style="color:#daa23e;">Escolha uma data</h5>
        <div ng-repeat="(key, array) in datas">
          <ion-item style="text-align: center; color:#4c171d; border-color: #4c171d;" ng-click="buttonData({{key}})"><b>{{array.data}}</b></ion-item>
          <div id="hs{{key}}" style="display: none">
            <div ng-if="array.horarios.length > 0">
              <div class="spacer" style="height: 1vh;"></div>
              <h5 style="color:#daa23e;">Escolha um horário</h5>
              <div class="row hora" style="flex-wrap: wrap;">
                <button style="color:#4c171d; margin: 5px;" class="button button-calm button-outline btnHora" ng-click="escolheData($event)" ng-repeat="hora in array.horarios">{{hora}}</button>
              </div>
            </div>
            <div ng-if="array.horarios.length == 0">
              <div class="spacer" style="height: 2vh;"></div>
              <h5 style="text-align: center; color:#4c171d;">Nenhum horário disponível</h5>
            </div>
          </div>
          <div class="spacer" style="height: 2vh;"></div>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 2vh;"></div>
    <a ng-click="confirmarAgendamento()" id="agendarVisita-button31" style="font-weight:500; color:#fff;" class="button button-stable button-block ctn" ng-if="diaEscolhido">CONFIRMAR AGENDAMENTO</a>
    <!-- <a ui-sref="agendamentoConcluido()" id="agendarVisita-button31" style="font-weight:500; color:#fff;" class="button button-stable button-block ctn" ng-if="diaEscolhido">CONFIRMAR AGENDAMENTO</a> -->
  </ion-content>
</ion-view>
