<ion-view title="Avaliar" id="page22">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="avaliar-heading26" style="color:#4c171d;text-align:center;">Avalie de acordo com sua satisfação</h4>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="avaliar-button-bar5" class="button-bar branco shadow">
      <button id="avaliar-button54" style="color:#4c171d;" class="button button-stable button-block button-clear icon ion-android-star"></button>
      <button id="avaliar-button57" style="color:#4c171d;" class="button button-stable button-block button-clear icon ion-android-star"></button>
      <button id="avaliar-button58" style="color:#4c171d;" class="button button-stable button-block button-clear icon ion-android-star"></button>
      <button id="avaliar-button59" style="color:#4c171d;" class="button button-stable button-block button-clear icon ion-android-star"></button>
      <button id="avaliar-button60" style="color:#4c171d;" class="button button-stable button-block button-clear icon ion-android-star"></button>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <a ui-sref="avaliado()" id="avaliar-button17" style="font-weight:500;color:#4c171d;" class="button button-stable button-block btn">ENVIAR</a>
  </ion-content>
</ion-view>