<ion-view title="Avaliado" id="page23">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 8vh;"></div>
    <h1 id="avaliado-heading16" style="color:#000000;text-align:center;" class="ion-checkmark-circled">
      <br>SUCESSO!</h1>
    <div class="spacer" style="height: 5vh;"></div>
    <h4 id="avaliado-heading36" style="color:#000000;text-align:center;">Sua avaliação foi concluida com sucesso!</h4>
    <div class="spacer" style="height: 5vh;"></div>
    <a ui-sref="tabsController.home_tab1()" id="avaliado-button19" style="font-weight:500;" class="button button-dark button-block">IR PARA HOME</a>
  </ion-content>
</ion-view>