<ion-view title="Cadastro" hide-nav-bar="true" id="page7">
  <ion-content padding="false" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="cadastro-container4" class="fundo">
      <div class="spacer" style="height: 2vh; margin-top: -19px;"></div>
      <a ui-sref="login()" id="cadastro-button7" style="color:#FFFFFF;" class="button button-dark button-clear icon-left ion-arrow-left-c flex-left"></a>
      <h4 id="cadastro-heading3" style="color:#FFFFFF;text-align:center;">Cadastro</h4>
      <div class="spacer" style="height: 2vh;"></div>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="cadastro-container30" class="ctn">
      <h4 class="text-center">Preencha os dados abaixo para se cadastrar no aplicativo.</h4>
      <div id="cadastro-container24" class="branco radius shadow">
        <form id="cadastro" class="list">
          <label class="item item-input place ctn sem-borda" id="cadastro-input4">
            <input type="text" ng-model="usuario.nome" placeholder="Nome*">
          </label>
          <label class="item item-input place ctn sem-borda" id="cadastro-input3">
            <input type="text" id="telefone" ng-model="usuario.telefone" placeholder="Telefone*">
          </label>
          <label class="item item-input place ctn sem-borda" id="cadastro-input5">
            <input type="text" ng-model="usuario.email" placeholder="E-mail*">
          </label>
          <label class="item item-input place ctn sem-borda" id="cadastro-input6">
            <input type="password" ng-model="usuario.senha" placeholder="Senha*">
          </label>
          <label class="item item-input place ctn sem-borda" id="cadastro-input7">
            <input type="password"  ng-model="usuario.confirma" placeholder="Confirme sua senha*">
          </label>
        </form>
      </div>
      <div class="spacer" style="height: 2vh;"></div>
      <a ng-click="salvar(usuario)" id="cadastro-button46" style="font-weight:500;color:#fff;border-radius:7px 7px 7px 7px;" class="button button-stable button-block btn shadow sem-borda">SALVAR</a>
    </div>
  </ion-content>
</ion-view>
