<ion-view title="esqueciMinhaSenha" hide-nav-bar="true" id="page7">
  <ion-content padding="false" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="esqueciMinhaSenha-container4" class="fundo">
      <div class="spacer" style="height: 2vh; margin-top: -19px;"></div>
      <a ui-sref="login()" id="esqueciMinhaSenha-button7" style="color:#FFFFFF;" class="button button-dark button-clear icon-left ion-arrow-left-c flex-left"></a>
      <h4 id="esqueciMinhaSenha-heading3" style="color:#FFFFFF;text-align:center;">Esqueci minha senha</h4>
      <div class="spacer" style="height: 2vh;"></div>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="esqueciMinhaSenha-container30" class="ctn">
      <h4><center>Preencha abaixo o e-mail para recuperar a sua senha!</center></h4>
      <div id="esqueciMinhaSenha-container24" class="branco radius shadow">
        <form id="esqueciMinhaSenha" class="list">
          <label class="item item-input place ctn sem-borda" id="esqueciMinhaSenha-input5">
            <input type="text" ng-model="objeto.email" placeholder="E-mail*">
          </label>
        </form>
      </div>
      <div class="spacer" style="height: 2vh;"></div>
      <a ng-click="enviar(objeto)" id="esqueciMinhaSenha-button46" style="font-weight:500;color:#fff;border-radius:7px 7px 7px 7px;" class="button button-stable button-block btn shadow sem-borda">SALVAR</a>
    </div>
  </ion-content>
</ion-view>
