<ion-view title="{{estabelecimento.nome}}" hide-back-button="true" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.home()" ng-if="telaAnterior == 'home'"><button class="button button-icon icon ion-android-arrow-back"></button></a>
    <a ui-sref="tabsController.favoritos()" ng-if="telaAnterior == 'favoritos'"><button class="button button-icon icon ion-android-arrow-back"></button></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button style="color:#daa23e;" class="button button-icon icon ion-android-star" ng-if="estabelecimento.favoritos == 1" ng-click="removeFavorito()"></button>
    <button style="color:#daa23e;" class="button button-icon icon ion-android-star-outline" ng-if="estabelecimento.favoritos == 0" ng-click="cadastraFavorito()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <img src="http://hinchliffe.local{{estabelecimento.avatar}}" style="display: block; width: 100%; height: 125px; margin-left: auto; margin-right: auto; object-fit: cover; border-radius: 5px;">
    <div class="spacer" style="height: 2vh;"></div>
    <div style="display: flex; justify-content: center;">
      <h3 id="home-heading11" style="color: #fff; text-align: center; width: auto; background-color: #daa23e; border-radius: 5%; padding: 0 10px;">R$ {{estabelecimento.valor}}</h3>
    </div>
    <!-- AVALIAÇÃO -->
    <!-- <div id="estabelecimentoServico-container7" class="branco radius shadow">
      <div class="spacer" style="height: 1vh;"></div>
      <h4 id="estabelecimentoServico-heading13" style="color:#4c171d;text-align:center;" class="sem-margem">Avaliações</h4>
      <button id="estabelecimentoServico-button32" style="font-size:14px;" class="button button-calm button-small button-block button-clear sem-margem">
        <span class="ion-android-star energized">
          <span class="ion-android-star">
            <span class="ion-android-star">
              <span class="ion-android-star">
                <span class="ion-android-star-outline dark"></span>
              </span>
            </span>
          </span>
        </span>
      </button>
    </div> -->
    <!-- FIM AVALIAÇÃO -->
    <a ui-sref="tabsController.agendarVisita()"><button id="estabelecimentoServico-button10" style="font-weight:500; color:#fff;" class="button button-stable button-block">Novo Agendamento</button></a>
    <div ng-if="informacoes">
      <div id="estabelecimentoServico-container42" class="row justify-content-around">
        <button id="estabelecimentoServico-button15" ng-click="pageInformacoes()" style="width: 45%; font-weight:600; color:#4c171d; background-color: #fff;" class="button button-calm button-block button-outline">Informações</button>
        <button id="estabelecimentoServico-button16" ng-click="pageEndereco()" style="width: 45%; font-weight:500; color:#fff;" class="button button-stable button-block total">Endereço</button>
      </div>
      <div id="estabelecimentoServico-button-bar1" class="button-bar"></div>
      <div id="estabelecimentoServico-container47" class="branco radius shadow">
        <div class="spacer" style="height: 1vh;"></div>
        <h4 id="estabelecimentoServico-heading12" style="color:#4c171d;" class="ctn txt-centro">Dias de funcionamento</h4>
        <div class="spacer" style="height: 1vh;"></div>
        <h5 id="estabelecimentoServico-heading25" style="color:#daa23e;font-weight:400;text-align: center;" class="ctn" ng-repeat="dia in estabelecimento.dias_funcionamento | split"><icon class="md-checkmark"></icon>{{dia | uppercase}}</h5>
        <div class="spacer" style="height: 2vh;"></div>
        <h4 id="estabelecimentoServico-heading12" style="color:#4c171d;" class="ctn txt-centro">Horário de funcionamento</h4>
        <div class="spacer" style="height: 2vh;"></div>
        <h5 id="estabelecimentoServico-heading27" style="color:#daa23e;font-weight:400;text-align: center;" class="ctn">{{estabelecimento.inicio_funcionamento}} às {{estabelecimento.fim_funcionamento}}</h5>
        <div class="spacer" style="height: 2vh;"></div>
      </div>
    </div>
    <div ng-if="endereco">
      <div id="estabelecimentoServico-container42" class="row justify-content-around">
        <button id="estabelecimentoServico-button15" ng-click="pageInformacoes()" style="width: 45%; font-weight:500; color:#fff;" class="button button-stable button-block total">Informações</button>
        <button id="estabelecimentoServico-button16" ng-click="pageEndereco()" style="width: 45%; font-weight:600; color:#4c171d; background-color: #fff;" class="button button-calm button-block button-outline">Endereço</button>
      </div>
      <ion-item class="item-icon-left calm sem-borda branco radius shadow ctn" id="agendarVisita-list-item17">
        <i class="icon ion-ios-location"></i>
        <b>
          <span class="stable" style="color: #daa23e;">{{estabelecimento.endereco}}, {{estabelecimento.numero}} - {{estabelecimento.bairro}}
          <br>{{estabelecimento.cidade}} - {{estabelecimento.estado}}</span>
        </b>
      </ion-item>
      <div class="spacer" style="height: 2vh;"></div>
      <div id="estabelecimentoServico-button-bar1" class="button-bar"></div>
      <creator-map-component options="{}" marker="true" location="{{estabelecimento.bairro}}{{estabelecimento.numero}}" zoom="14" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:300px;">
          <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
            <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
          </ui-gmap-google-map>
        </creator-map-component>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
  </ion-content>
</ion-view>