<ion-view title="Favoritos" id="page14">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
      <div class="spacer" style="height: 2vh;"></div>
      <div ng-model="teste" ng-repeat="estabelecimento in estabelecimentosDisponiveis = (listaEstabelecimentos | filter: busca)" ng-if="listaEstabelecimentos.length > 0">
        <div id="home-container32" class="branco shadow">
          <div class="spacer" style="height: 2vh;"></div>
          <div id="home-container10" class="row row-center">
            <h3 id="home-heading9" style="color:#daa23e; text-align:center; font-weight: 500;" class="centro2" ng-click="goToestabelecimentoServicos(estabelecimento)">{{estabelecimento.nome}}</h3>
            <button id="home-button9" style="color:#daa23e;" class="button button-stable button-clear icon ion-android-star flex-right" ng-click="removeFavorito(estabelecimento)"></button>
          </div>
          <div class="spacer" style="height: 2vh;"></div>
          <div>
            <a style="display:block;" ng-click="goToestabelecimentoServicos(estabelecimento)">
              <img src="http://hinchliffe.local{{estabelecimento.avatar}}" style="display: block; width: 100%; height: 125px; margin-left: auto; margin-right: auto; object-fit: cover;">
            </a>
          </div>
          <h4 id="home-heading11" style="color:#4c171d;text-align:center;">{{estabelecimento.cidade}}, {{estabelecimento.estado}}</h4>
          <div id="home-container6" class="row sem-padding justify-content">
            <ion-list id="home-list3">
              <ion-item class="stable sem-borda centro padding-lados" id="home-list-item1" ng-if="servico != ''" ng-repeat="servico in estabelecimento.todos_servicos">
                {{servico}}
              </ion-item>
            </ion-list>
            <ion-list id="home-list4" class="lista">
              <ion-item style="margin-right: 0; width: 70%;" class="item-icon-right stable sem-borda centro" id="home-list-item4" ui-sref="tabsController.agendarVisita()" ng-if="preco != ''" ng-repeat="preco in estabelecimento.todos_precos">
                R$ {{preco}}<i class="icon ion-arrow-right-b"></i>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div>
          <a ng-click="goToestabelecimentoServicos(estabelecimento)" id="home-button40" style="font-weight:500;color:#fff;" class="button button-stable button-small button-block ctn shadow sem-borda">VER DETALHES</a>
        </div>
        <div class="spacer" style="height: 1vh;"></div>
      </div>
      <div ng-if="!estabelecimentosDisponiveis.length">
        <img src="https://image.flaticon.com/icons/svg/1622/1622227.svg" height="70" width="70" class="centro" style="display: flex; margin-top: 50px">
        <h4 class="text-center">Não foi encontrado nenhum estabelecimento favoritado</h4>
      </div>
  </ion-content>
</ion-view>
