<ion-view title="Filtro" id="page12">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.home()" id="filtro-button41" style="font-weight:500;color:#4c171d;" class="button button-stable button-block ctn shadow sem-borda">Mais Próximos</a>
    <a ui-sref="tabsController.home()" id="filtro-button42" style="font-weight:500;color:#4c171d;" class="button button-stable button-block ctn shadow sem-borda">Menor Preço</a>
  </ion-content>
</ion-view>