<ion-view title="Historico" id="page20">
  <ion-content padding="false" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="historico-container38" class="row row-center shadow">
      <ion-list id="historico-list24" class="manual-list-fullwidth">
        <ion-item class="item-avatar stable sem-borda" id="historico-list-item41" ui-sref="verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2stable>
            <b>Cabelereiro 1</b>
            <p>
              <span class="ion-location">
                <span class="energized"> Rua Jangadeiros,
                  <br> 42, Loja B, Ipanema</span>
              </span>
            </p>
          </h2stable>
        </ion-item>
      </ion-list>
      <ion-list id="historico-list27" class="manual-list-fullwidth">
        <ion-item class="energized sem-borda direita" id="historico-list-item42" ui-sref="verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="historico-container39" class="row row-center shadow">
      <ion-list id="historico-list38" class="manual-list-fullwidth">
        <ion-item class="item-avatar sem-borda" id="historico-list-item43" ui-sref="verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2>
            <b>Cabelereiro 1</b>
          </h2>
          <p>
            <span class="ion-location">
              <span class="energized"> Rua Jangadeiros,
                <br> 42, Loja B, Ipanema</span>
            </span>
          </p>
        </ion-item>
      </ion-list>
      <ion-list id="historico-list39" class="manual-list-fullwidth">
        <ion-item class="energized sem-borda direita" id="historico-list-item44" ui-sref="verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="historico-container40" class="row row-center shadow">
      <ion-list id="historico-list40" class="manual-list-fullwidth">
        <ion-item class="item-avatar sem-borda" id="historico-list-item45" ui-sref="verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2>
            <b>Cabelereiro 1</b>
          </h2>
          <p>
            <span class="ion-location">
              <span class="energized"> Rua Jangadeiros,
                <br> 42, Loja B, Ipanema</span>
            </span>
          </p>
        </ion-item>
      </ion-list>
      <ion-list id="historico-list41" class="manual-list-fullwidth">
        <ion-item class="energized sem-borda direita" id="historico-list-item46" ui-sref="verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>