<ion-view title="Home" hide-back-button="true" id="page8">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="home-container5" class="row row-center sem-padding branco shadow justify-center height-50">
      <label class="item item-input sem-borda" style="padding: 0px 5px; width: 100%">
        <input type="text" class="input-buscar" placeholder="Buscar..." ng-model="busca.nome">
      </label>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div ng-model="teste" ng-repeat="estabelecimento in estabelecimentosDisponiveis = (listaEstabelecimentos | filter: busca)" ng-if="listaEstabelecimentos.length > 0">
      <div id="home-container32" class="branco shadow">
        <div class="spacer" style="height: 2vh;"></div>
        <div id="home-container10" class="row row-center">
          <h3 id="home-heading9" style="color:#4c171d; text-align:center; font-weight: 500;" class="centro2" ng-click="goToestabelecimentoServicos(estabelecimento)">{{estabelecimento.nome}}</h3>
          <button id="home-button9" style="color:#daa23e;" class="button button-stable button-clear icon ion-android-star flex-right" ng-if="estabelecimento.favoritos == 1" ng-click="removeFavorito(estabelecimento)"></button>
          <button id="home-button9" style="color:#daa23e;" class="button button-stable button-clear icon ion-android-star-outline flex-right" ng-if="estabelecimento.favoritos == 0" ng-click="cadastraFavorito(estabelecimento)"></button>
        </div>
        <div class="spacer" style="height: 2vh;"></div>
        <div>
          <a style="display:block;" ng-click="goToestabelecimentoServicos(estabelecimento)">
            <img src="http://hinchliffe.local{{estabelecimento.avatar}}" style="display: block; width: 100%; height: 125px; margin-left: auto; margin-right: auto; object-fit: cover;">
          </a>
        </div>
        <div class="spacer" style="height: 2vh;"></div>
        <a ng-click="goToestabelecimentoServicos(estabelecimento)" style="display: flex; justify-content: center;">
          <h3 id="home-heading11" style="color: #fff; text-align: center; width: auto; background-color: #daa23e; border-radius: 5%; padding: 0 10px;">R$ {{estabelecimento.valor}}</h3>
        </a>
        <h4 id="home-heading11" style="color: #4c171d; text-align: center; margin-top: 0;">{{estabelecimento.cidade}}, {{estabelecimento.estado}}</h4>
        <div class="spacer" style="height: 1vh;"></div>
      </div>
      <div>
        <a ng-click="goToestabelecimentoServicos(estabelecimento)" id="home-button40" style="font-weight:500;color:#fff;" class="button button-stable button-small button-block ctn shadow sem-borda">VER DETALHES</a>
      </div>
      <div class="spacer" style="height: 1vh;"></div>
    </div>
    <div ng-if="!estabelecimentosDisponiveis.length">
      <img src="https://image.flaticon.com/icons/svg/1622/1622227.svg" height="70" width="70" class="centro" style="display: flex; margin-top: 50px">
      <h4 class="text-center">Não foi encontrado nenhum estabelecimento</h4>
    </div>
  </ion-content>
</ion-view>
