<ion-view title="Login" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/bg.jpg) no-repeat center; background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 5vh;"></div>
    <div>
      <img src="img/kM9xOLmdSxyAy16Y9lHI_20286878_1708888365789462_136876859849144902_o-Copia.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto; background: radial-gradient(#fff, transparent); border-radius: 45%;">
    </div>
    <h3 id="login-heading1" style="color:#fff;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;text-align:center;">Bem-Vindo ao Hinchliffe</h3>
    <form id="login" class="list">
      <a ui-sref="cadastro()" id="login-button1" style="color:#fff;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;" class="button button-dark button-small button-block button-clear">Não possui conta?
        <b>Cadastre-se aqui</b>
      </a>
      <label class="item item-input radius">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="search" ng-model="obj.email" placeholder="E-mail" style="padding: 0px 7px">
      </label>
      <div class="spacer" style="height: 2vh;"></div>
      <label class="item item-input radius">
        <i class="icon ion-eye placeholder-icon"></i>
        <input type="password" ng-model="obj.senha" placeholder="Senha" style="padding: 0px 7px">
      </label>
      <a ui-sref="esqueciMinhaSenha()" id="login-button3" style="color:#fff;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;" class="button button-dark button-small button-block button-clear">Esqueci minha senha</a>
      <a ng-click="login(obj)" id="login-button4" style="font-weight:500;color:#fff;border-radius:7px 7px 7px 7px;" class="button button-stable button-block btn sem-borda">ENTRAR</a>
    </form>
  </ion-content>
</ion-view>
