<ion-view title="MeuPerfil" id="page16">
  <ion-content padding="false" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 2vh;"></div>
    <h4 id="meuPerfil-heading37" style="color:#4c171d;text-align:center;">Confira os dados da sua conta abaixo.</h4>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="meuPerfil-container51" class="branco radius shadow ctn">
      <form id="meuPerfil-form8" class="list">
        <label class="item item-input place ctn sem-borda" id="meuPerfil-input15">
          <input type="text" value="{{usuario.nome}}" ng-model="usuario.nome" placeholder="Nome*">
        </label>
        <label class="item item-input place ctn sem-borda" id="meuPerfil-input16">
          <input type="text" id="telefone" value="{{usuario.telefone}}" ng-model="usuario.telefone" placeholder="Telefone*">
        </label>
        <label class="item item-input place ctn sem-borda" id="meuPerfil-input16">
          <input type="text" value="{{usuario.email}}" ng-model="usuario.email" placeholder="E-mail*">
        </label>
        <label class="item item-input place ctn sem-borda" id="meuPerfil-input17">
          <input type="password" ng-model="usuario.senha" placeholder="Senha*">
        </label>
        <label class="item item-input place ctn sem-borda" id="meuPerfil-input18">
          <input type="password" ng-model="usuario.confirma" placeholder="Confirme sua senha*">
        </label>
      </form>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <a ng-click="salvar(usuario)" id="meuPerfil-button44" style="font-weight:500;color:#fff;border-radius:7px 7px 7px 7px;" class="button button-stable button-block btn shadow sem-borda">SALVAR</a>
  </ion-content>
</ion-view>
