<ion-view title="MinhaAgenda" id="page15">
  <ion-content padding="false" class="has-header">
    <div class="spacer" style="height: 2vh;"></div>
    <table class="centro">
      <caption class="mes">Fevereiro</caption>
      <thead>
        <tr>
          <td class="dia">
            <div class="semana">D</div>
          </td>
          <td class="dia">
            <div class="semana">S</div>
          </td>
          <td class="dia">
            <div class="semana">T</div>
          </td>
          <td class="dia">
            <div class="semana">Q</div>
          </td>
          <td class="dia">
            <div class="semana">Q</div>
          </td>
          <td class="dia">
            <div class="semana">S</div>
          </td>
          <td class="dia">
            <div class="semana">S</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="dia">1</td>
          <td class="dia">2</td>
          <td class="dia">3</td>
          <td class="dia">4</td>
          <td class="dia">5
            <span class="evento">1</span>
          </td>
          <td class="dia">6</td>
          <td class="dia">7</td>
        </tr>
        <tr>
          <td class="dia">8</td>
          <td class="dia">9</td>
          <td class="dia">10</td>
          <td class="dia">11</td>
          <td class="dia">12</td>
          <td class="dia">13</td>
          <td class="dia">14</td>
        </tr>
        <tr>
          <td class="dia">15</td>
          <td class="dia">16</td>
          <td class="dia">17</td>
          <td class="dia">18</td>
          <td class="dia">19</td>
          <td class="dia">20</td>
          <td class="dia">21</td>
        </tr>
        <tr>
          <td class="dia">22
            <span class="evento">2</span>
          </td>
          <td class="dia">23</td>
          <td class="dia">24</td>
          <td class="dia">25</td>
          <td class="dia">26</td>
          <td class="dia">27</td>
          <td class="dia">28</td>
        </tr>
      </tbody>
    </table>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="minhaAgenda-container61" class="row row-center shadow">
      <ion-list id="minhaAgenda-list66" class="manual-list-fullwidth">
        <ion-item class="item-avatar stable sem-borda" id="minhaAgenda-list-item81" ui-sref="tabsController.verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2stable>
            <b>Cabelereiro 1</b>
            <p>
              <span class="ion-location">
                <span class="stable"> Rua Jangadeiros,
                  <br> 42, Loja B, Ipanema</span>
              </span>
            </p>
          </h2stable>
        </ion-item>
      </ion-list>
      <ion-list id="minhaAgenda-list67" class="manual-list-fullwidth">
        <ion-item class="stable sem-borda direita" id="minhaAgenda-list-item82" ui-sref="tabsController.verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 2vh;"></div>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="minhaAgenda-container62" class="row row-center shadow">
      <ion-list id="minhaAgenda-list68" class="manual-list-fullwidth">
        <ion-item class="item-avatar stable sem-borda" id="minhaAgenda-list-item83" ui-sref="tabsController.verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2stable>
            <b>Cabelereiro 1</b>
            <p>
              <span class="ion-location">
                <span class="stable"> Rua Jangadeiros,
                  <br> 42, Loja B, Ipanema</span>
              </span>
            </p>
          </h2stable>
        </ion-item>
      </ion-list>
      <ion-list id="minhaAgenda-list69" class="manual-list-fullwidth">
        <ion-item class="stable sem-borda direita" id="minhaAgenda-list-item84" ui-sref="tabsController.verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 2vh;"></div>
    </div>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="minhaAgenda-container63" class="row row-center shadow">
      <ion-list id="minhaAgenda-list70" class="manual-list-fullwidth">
        <ion-item class="item-avatar stable sem-borda" id="minhaAgenda-list-item85" ui-sref="tabsController.verAgenda()">
          <img src="img/nINY68dPQ2u6c3IuzLTz_android-image.png">
          <h2stable>
            <b>Cabelereiro 1</b>
            <p>
              <span class="ion-location">
                <span class="stable"> Rua Jangadeiros,
                  <br> 42, Loja B, Ipanema</span>
              </span>
            </p>
          </h2stable>
        </ion-item>
      </ion-list>
      <ion-list id="minhaAgenda-list71" class="manual-list-fullwidth">
        <ion-item class="stable sem-borda direita" id="minhaAgenda-list-item86" ui-sref="tabsController.verAgenda()">
          <b>R$ 50,00</b>
          <span class="item-note">
            <span class="stable">05/02/2018
              <br>13:00</span>
          </span>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 2vh;"></div>
    </div>
  </ion-content>
</ion-view>
