<ion-view title="Sair" id="page18">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="sair-heading25" style="color:#4c171d;text-align:center;">Tem certeza que gostaria sair?</h4>
    <div class="spacer" style="height: 2vh;"></div>
    <div id="sair-container16" class="row sem-padding">
      <a ng-click="sair()" id="sair-button20" style="font-weight:500;color:#fff;" class="button button-stable button-block total shadow margem">SIM</a>
      <a ui-sref="tabsController.home()" id="sair-button21" style="font-weight:500;color:#fff;" class="button button-stable button-block total shadow margem">NÃO</a>
    </div>
  </ion-content>
</ion-view>
