<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home" href="#/page1/home" id="tabsController-tab1" class="cor">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Minha agenda" icon="ion-calendar" href="#/page1/minha-agenda" id="tabsController-tab2" class="cor">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favoritos" icon="ion-heart" href="#/page1/favoritos" id="tabsController-tab3" class="cor">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Minha conta" icon="ion-android-person" href="#/page1/MeuPerfil" id="tabsController-tab4" class="cor">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sair" icon="ion-log-out" href="#/page1/sair" id="tabsController-tab5" class="cor">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
