<ion-view title="VerAgenda" id="page17">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="verAgenda-container45">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="verAgenda-slider6" style="width:calc(100% + 20px);height:125px;margin-left:-10px;">
        <ion-slide-page id="verAgenda-slide216" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="verAgenda-slide217" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="verAgenda-slide218" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="spacer" style="height: 2vh;"></div>
      <div id="verAgenda-container44" class="branco shadow">
        <ion-list id="verAgenda-list57">
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item67">
            <b>Valor</b>
            <span class="item-note">
              <span class="stable">R$ 50,00</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item68">
            <b>Data</b>
            <span class="item-note">
              <span class="stable">01/01/2018</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item69">
            <b>Hora</b>
            <span class="item-note">
              <span class="stable">13:00</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item70">
            <b>Tipo do serviço</b>
            <span class="item-note">
              <span class="stable">Barba</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item71">
            <b>Nome do
              <br> estabelecimento</b>
            <span class="item-note">
              <span class="stable">Cabeleireiro 1</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verAgenda-list-item72">
            <b>Endereço</b>
            <span class="item-note">
              <span class="stable">Rua Jangadeiros,
                <br> 42, Loja B, Ipanema</span>
            </span>
          </ion-item>
        </ion-list>
      </div>
      <div class="spacer" style="height: 2vh;"></div>
      <a ui-sref="tabsController.minhaAgenda()" id="verAgenda-button22" style="font-weight:500;color:#fff;" class="button button-stable button-block ctn">CANCELAR AGENDAMENTO</a>
    </div>
  </ion-content>
</ion-view>
