<ion-view title="VerHistorico" id="page21">
  <ion-content padding="true" style="background: url(img/gY7O0lzARKY3KJYoiCpB_FjXgsNLgROacMXK6Pbgi_bg-home.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="verHistorico-container41">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="verHistorico-slider5" style="width:calc(100% + 20px);height:125px;margin-left:-10px;">
        <ion-slide-page id="verHistorico-slide210" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="verHistorico-slide211" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="verHistorico-slide212" style="background:url(&quot;img/nINY68dPQ2u6c3IuzLTz_android-image.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="spacer" style="height: 2vh;"></div>
      <div id="verHistorico-container21" class="branco shadow">
        <ion-list id="verHistorico-list42">
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item47">
            <b>Valor</b>
            <span class="item-note">
              <span class="energized">R$ 50,00</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item48">
            <b>Data</b>
            <span class="item-note">
              <span class="energized">01/01/2018</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item49">
            <b>Hora</b>
            <span class="item-note">
              <span class="energized">13:00</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item50">
            <b>Tipo do serviço</b>
            <span class="item-note">
              <span class="energized">Barba</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item51">
            <b>Nome do
              <br> estabelecimento</b>
            <span class="item-note">
              <span class="energized">Cabeleireiro 1</span>
            </span>
          </ion-item>
          <ion-item class="stable ctn sem-borda" id="verHistorico-list-item52">
            <b>Endereço</b>
            <span class="item-note">
              <span class="energized">Rua Jangadeiros,
                <br> 42, Loja B, Ipanema</span>
            </span>
          </ion-item>
        </ion-list>
      </div>
      <div class="spacer" style="height: 2vh;"></div>
      <a ui-sref="avaliar()" id="verHistorico-button50" style="font-weight:500;color:#4c171d;" class="button button-stable button-block ctn">AVALIAR</a>
    </div>
  </ion-content>
</ion-view>