body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background: #f1f1f1;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #4c171d;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #4c171d;
  font-weight: 600;
  border-bottom: 2px solid;
}


/*
* Main content
*/

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.navbar-brand img {
  max-height: 40px;
  max-width: 360px;
  margin-top: -10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #daa23e !important;
}
.navbar-inverse {
  background-color: #daa23e !important;
}
.tool {
  position : relative;
  text-align: center
}
.tool::before, .tool::after {
  position : absolute;
  left : 50%;
  opacity : 0;
  z-index: 1000000000;
}
.tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
  opacity : 1;
  z-index: 1000000000;
  font-size: 11px;
  text-transform: uppercase;
}
.tool::before {
  border-style : solid;
  border-width : 1em .75em 0 .75em;
  border-color : rgba(62, 71, 79, 0.8) transparent transparent transparent;
  bottom : 100%;
  margin-left : -.5em;
  content : " ";
}
.tool::after {
  background: rgba(62, 71, 79, 0.8);
  border-radius : 20px;
  bottom : 125%;
  color : white;
  min-width : 14.5em;
  padding: 3px;
  margin-left : -8.75em;
  content : attr(data-tip);
}
.form-busca  .col-md-4 {
  margin-bottom: 10px ;
}
.form-adicionar  .col-md-4 {
  margin-bottom: 10px ;
}
.center {
  text-align: center;
}
.stepper {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px
}
.stepper-active {
  background-color: #000000;;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px
}
.stepper:hover {
  background-color: #abdb71;
  color: #fff
}
span.stepper-next {
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px
}
.valid {
  border: 1px solid green;
}
.invalid {
  border: 1px dashed red;
  background-color: rgba(255, 0, 0, 0.04);
}
.filtroativo {
  background-color: rgb(235, 255, 224);
}
a {
  color: #fff;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #4c171d;
}
.btn-info {
  background-color: #4c171d;
  border-color: #4c171d;
}
.rodape {
  background-color: #4c171d;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  padding-top: 5px;
  position: relative;
  bottom: 0px;
  height: 60px;
  width: 100%;
  z-index: 1000;
}
.main {
  min-height: 750px;
}
.img-logo-adm{
  width: 20%;
}
.btn-info:hover {
  color: #fff;
  background-color: #4c171d !important;
  border-color: #4c171d;
}
.titulo_horario{
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 7px;
}

.borda{
  border: 1px solid #daa23e;
}

.table-responsive{
  text-align: center;
}