@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
    font-family: 'Varela Round', sans-serif;
    text-rendering: optimizeLegibility;
}
::-moz-selection {
    color: #fff;
    background: #000000;
}

::selection {
    color: #fff;
    background: #000000;
}


body {
    margin-top: 50px;
    background-color: #f5f8f3
}

a:focus,a:hover {
    text-decoration: none
}

h1 {
    margin-top: 0!important;
    padding-top: 10px!important
}

footer {
    text-align: center;
    background-color: #333;
    color: #fcfcfc;
    padding: 10px
}

textarea {
    resize: none
}

i {
    margin-right: 10px
}
tbody i {
    margin-right: 0;
    padding: 5px;
}
span>i {
    margin-right: 0
}

tr a {
    color: #000
}

.panel {
    border-radius: 5px;
    border: 0;
    background: rgba(238,238,238,.8)
}

.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.panel-color {
    margin-bottom: 35px
}

.panel-color .panel-heading {
    color: #000;
    text-align: center;
    border: 2px solid #000000;;
    background-color: #fff;
    border-radius: 7px
}

.panel-color .panel-heading:hover {
    background-color: #000000;;
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease
}

.panel-color .panel-default {
    color: #fff;
    text-align: center;
    background-color: #21020e;
    padding: 10px 15px;
    border: 2px solid #928f90
}

.panel-color a {
    text-decoration: none;
    color: #000
}

.panel-color a:hover {
    color: #fff
}

.panel-atalhos {
    background-color: #789c4b;
    color: #fff;
    padding: 10px;
    text-align: center
}

.panel-login {
    margin: auto;
    width: 350px;
    background-color: #000000;;
    color: #fff;
    border: none;
    box-shadow: none
}

.panel-title {
    font-weight: 700
}

.btn-ativar {
    color: #fff;
    background-color: #b4c508
}

.btn-dindin {
    color: #fff;
    background-color: #000000;
}

.btn-dindin:hover,.btn-ativar:hover {
    color: #fff;
    background-color: #000000;
}

.btn-login {
    border: 2px solid #fff;
    color: #fff;
    background-color: #154055;
    transition: all 0.3s;
}
.btn-login:hover, .btn-login:active,
.btn-login:visited, .btn-login:focus{
    border: 2px solid #000000;;
    color: #000000;;
    background-color: #154055;
}

.btn-block {
    padding: 9px
}

.navbar-inverse {
    background-color: #000000;;
    border: 0;
    height: 51px
}

.nav>li>a>img {
    margin-right: 8px
}

.logoMenu {
    background-color: #000000;;
    width: 225px;
    height: 40px;
    padding-left: 15px
}
.logoMenu img {

  height: 50px;
}
#wrapper {
    padding-left: 0
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff
}

.huge {
    font-size: 50px;
    line-height: normal
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
        background-color: #000000;;
        padding-bottom: 5px;
    }

    #page-wrapper {
        padding: 10px;
        min-height: 760px;
        margin-bottom: -5px;
        -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,.4);
        -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,.4);
        box-shadow: 2px 2px 5px 5px rgba(0,0,0,.4);
    }
}

.top-nav {
    padding: 0 15px
}

.top-nav>li {
    display: inline-block;
    float: left;
    margin-left: 10px
}

.top-nav>li>a {
    padding-top: 16px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff
}

.top-nav>li>a:hover,.top-nav>li>a:focus,.top-nav>.open>a,.top-nav>.open>a:hover,.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
}

.top-nav>.open>.dropdown-menu>li {
    width: 100%;
    padding: 0
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
    padding: 10px 15px
}

.remover-margin {
    margin-bottom: 0
}

.side-nav {
    position: fixed;
    left: 225px;
    width: 200px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 34px;
    top: 50px;
}

.side-nav>li>a {
    width: 225px
}

.side-nav li a:hover,.side-nav li a:focus {
    outline: none;
    background-color: #154055;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    width: 225px;
    padding: 15px 18px;
}

.side-nav>li>ul {
    padding: 0
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999
}

.side-nav>li>ul>li>a:hover {
    color: #fff
}

.flot-chart {
    display: block;
    height: 400px
}

.flot-chart-content {
    width: 100%;
    height: 100%
}

.huge {
    font-size: 46px;
    text-align: right
}

.font-panel {
    font-weight: 700
}

.font-extrato {
    color: #aed47f
}

.center {
    margin: auto;
    text-align: center
}

.login {
    margin-top: 15px
}

.bglogin {
    margin-top: 100px;
    background-color: #dcdcdc
}

.topo {
    background-color: #000000;;
    margin-top: -100px;
    padding: 17px;
}

.img-background {
    background-color: #000000;;
    padding: 10%;
    height: 100vh;
}

.rodape {
    background-color: #000;
    font-size: 12px;
    min-height: 35px;
    text-align: center;
    color: #fff
}

.rodape p {
    padding-top: 5px;
    margin-bottom: 0;
}

.fullpage {
    min-height: 630px;
    margin: 15px 0 20px
}

.crud-add {
    display: inline-block;
    text-align: right;
    margin-top: -70px
}

.obrigatorios {
    text-align: right;
    color: red;
    font-size: 12px
}

.upper td {
    text-transform: uppercase
}

.tab-pane {
    padding: 10px
}

.cursor {
    cursor: pointer
}

.navbar-nav>li>a {
    padding-top: 14px;
    padding-bottom: 14px
}

#boxTroco {
    color: green;
    padding: 10px;
    text-align: right;
    font-size: 28px
}

.right {
    text-align: right
}

.tituloInterno {
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #fff;
    margin-top: -45px!important;
    padding-left: 20px;
    position: absolute
}

.btn-acoes {
    max-width: 45%;
    padding-right: 12px
}

.text-center {
    text-align: center
}

.form-control {
    height: 40px;
    border-radius: 1px solid
}

.margin-top {
    margin-top: 15px
}

.btn-ver {
    background-color: #0b4360;
    color: #fff;
    border: 0
}

.btn-ver:hover {
    background-color: #032c41;
    color: #fff;
    border: 0
}

.recuperar-senha:hover {
    color: #fff
}

.table {
    font-size: 11px
}

.t-modal .modal-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.t-modal .modal-header {
    padding: 30px 15px;
    text-transform: uppercase;
    background-color: #000000;
}

.t-modal .modal-title,.modal-header .close {
    color: #fff
}

.t-modal .modal-footer {
    border: none
}

.text {
    color: #000000;
}

.text-link {
    color: #000000;
}

.text-link:hover {
    color: #b4c508
}

#lista-clientes_row_0,#ultimas-notificacoes_row_0,#lista-camadas_row_0,#lista-servicos_row_0,#lista-fornecedores_row_0,#lista-produtos_row_0,#lista-usuarios_row_0,#lista-agendamentos_row_0,#lista-comandas_row_0,#geral-cliente_row_0,#lista-enderecos_row_0,#lista-entregador_row_0,#lista-relacao_pedidos_row_0,#forma-pagamento_row_0,#lista-entregadores_row_0 {
    background-color: #000000;;
    color: #fff
}

.whiteLine {
    background-color: #fff;
    color: #000
}

.redLine {
    background-color: red;
    color: #fff
}

.btn-buscar {
    background-color: #abdb71;
    color: #fff
}

.btn-buscar:hover,.btn-buscar:active {
    background-color: #90be59;
    color: #fff;
    border: 1px solid #000
}

.btn-recuperar {
    background-color: #90be59;
    color: #fff;
    padding: 6px 20px
}

.btn-recuperar:hover,.btn-recuperar:active {
    background-color: #90cf59
}

.painel-remover {
    border: 1px solid #eee
}

.page-header a {
    text-decoration: none
}

.center {
    text-align: center
}

.stepper {
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 18px
}

.stepper-active {
    background-color: #000000;;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
    font-size: 18px
}

.stepper:hover {
    background-color: #abdb71;
    color: #fff
}

span.stepper-next {
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px
}

.id {
    background-color: #eee;
    padding: 14px
}

.page-header {
    margin: 14px 0 20px
}

.cores {
    margin-right: 10px
}

.cores:focus {
    border: 2px #eee
}

#avatar {
    max-width: 150px;
    max-height: 200px;
    min-height: 200px
}

.relatorios-panel {
    margin-top: 23%
}

.mensagem {
    border: 1px solid #eee;
    padding: 10px
}

.img-painel {
    width: 80px
}

.btn-buscar {
    padding: 8px 7px
}

button#salvar {
    margin-top: 5px;
    margin-left: 60px;
    padding: 6px 25px
}

.nav-tabs>li>a {
    color: #000000;
}

.table-striped thead {
    background-color: #000000;;
    color: #fff
}

.fa-5x {
    font-size: 6em;
    margin-left: 15px
}

.imagem {
    height: 150px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    border-radius: 50%;
    min-height: 150px;
    min-width: 145px;
    width: 145px;
    margin-top: 15px
}

.active-menu {
    background-color: #154055;
    border-left: 0px solid #fff;
    width: 225px
}

.btn-verificado {
    padding: 5px 5px
}

.btn-verificado-nao {
    padding: 8px 10px
}

.logoDinDin {
    width: 100%;
    margin-left: -20px;
}

.logoDinDinLogin {
    width: 150px
}

.sem-borda {
    border: none
}

img.avatar {
    width: 145px;
    border-radius: 50%;
    min-height: 150px;
    height: 150px;
    border: 1px solid #ccc
}

img.avatar-lista {
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    height: 30px
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
    vertical-align: middle;
    min-width: 100px;
}

span#editaCliente {
    padding: 10px 15px
}

.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #000000;!important
}

.top-message {
    margin-top: -80px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

span.badge {
    bottom: 5px;
    margin-left: 5px;
    position: relative;
    background-color: red;
    color: #fff
}

.box-mensagem {
    border: 2px solid #000000;;
    border-radius: 8px;
    padding: 9px
}

.navbar-nav>li {
    overflow: hidden;
    border-bottom: solid 1px #f5efff;
    background-color: #000;
}



a.btn.btn-default.btn-voltar {
    border: 1px solid #000
}

#valor_transacoes,#qtd_transacoes {
    font-weight: bold
}

.hide-menu {
    color: #000000;;
    margin-top: 5px;
    cursor: pointer;
    padding-left: 225px
}

img.img-mobile2 {
    height: 65px;
    max-height: 65px;
    width: 70px;
    max-width: 70px;
    padding-top: 5px
}

.lists-page {
    padding-top: 10%
}

.panel-heading.panel-black-list,.panel-heading.panel-black-list:hover {
    background-color: #000;
    color: #fff;
    font-size: 30px
}

.panel-heading.panel-white-list,.panel-heading.panel-white-list:hover {
    background-color: #fff;
    color: #000;
    font-size: 30px
}

.panel-heading.panel-green-list,.panel-heading.panel-green-list:hover {
    background-color: green;
    color: #fff;
    font-size: 30px
}

.btn-black,.btn-black:hover,.btn-black:active {
    background-color: #000;
    color: #fff;
    border: 1px solid #000
}

.btn-white,.btn-white:hover,.btn-white:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #000
}

.btn-green,.btn-green:hover,.btn-green:active {
    background-color: #000000;;
    color: #fff;
    border: 1px solid #000000;
}

.remove-message {
    margin-bottom: 0
}

.top-flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 40px;
    margin-left: 240px
}

#menuMobile {
    display: none!important
}

#menuMobile {
    max-height: 1000px!important;
    background-color: #000000;
}

#menuMobile li {
    line-height: 15px!important;
    font-size: 12px!important;
    padding: 0
}

@media (max-width: 380px) {
    #menuDesktop {
        display:none
    }

    #menuMobile {
        background-color: #000000;;
        display: block!important
    }

    .logoDinDin {
        width: 80px;
        margin-left: -10px;
        margin-top: 5px
    }

    #page-wrapper {
        margin-top: 80px
    }

    .side-nav {
        background-color: #000000;;
        top: 25px;
        width: 100%;
        height: 100%
    }

    .top-nav>li {
        margin-left: 100px;
        bottom: 50px
    }

    .top-message {
        margin-top: 15px
    }

    .crud-add {
        margin-bottom: 10px
    }

    #alterar {
        margin-bottom: 10px
    }

    span#editaCliente {
        margin-left: 195px
    }

    .btn-voltar {
        margin-top: 55px
    }

    button#salvar {
        margin-left: 175px;
        margin-bottom: 20px;
        margin-top: -20px
    }

    .imagem {
        margin: auto;
        position: relative
    }

    .navbar-inverse {
        height: 75px
    }

    button.navbar-toggle {
        margin-top: 20px
    }

    .navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
        background-color: #000000;
    }

    .panel-login {
        width: 290px;
        margin-top: 50px
    }

    .img-background {
        padding: 0
    }

    .img-mobile {
        width: 20%;
        margin-top: -20%;
        margin-left: 80%
    }

    .transacoes {
        margin-left: 20px
    }

    .navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
        border: none
    }

    .nav>li {
        padding: 2px
    }

    .status {
        margin-bottom: -40px
    }

    ol.breadcrumb.text-center {
        margin-top: 50px
    }

    .panel-user {
        margin-top: 40px
    }

    ol.breadcrumb.text-center.remove-margin {
        margin-top: 5px
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #fff;
        font-size: 18px;
        width: 100%
    }

    img.avatar {
        width: 145px;
        margin-top: 1px;
        border-radius: 50%
    }

    .active-menu {
        background-color: #154055;
        border-left: 3px solid #fff;
        width: 100%
    }

    .top-flex {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        flex-direction: column
    }

    .rodape {
        position: relative!important
    }
}

#mini-menu {
    background-color: #000000;
}

.center {
  text-align: center !important;
}
.ui-autocomplete {
  background-color: rgba(165, 225, 255, 0.8) !important;
}

.plus {
  background-color: green;
  color:#FFF;
  padding:5px;
  border-radius: 20px;
  margin-right: 3px;
}
.panel-green {
  background-color: green;
  color: #fff;
}
.panel-red {
  background-color: red;
  color: #fff;
}
.panel-orange {
  background-color: orange;
  color: #fff;
}

.boxText {
  background-color: #fcfcfc;
  border-top: solid 2px #ccc;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(246, 239, 252, 0.13);
  border-top: solid 2px #5cb0cc;
}
.Previewbox {
  background-color: rgba(246, 239, 252, 0.13);
  border-top: solid 2px #5cb0cc;

  padding-top: 20px;
  padding-left: 10px;


}
header {
  text-align: center;
  background-color: #FFF;
  border-top: solid 3px #000000;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: solid 1px #fcfcfc;
}
header img {
  width: 250px;
  margin-bottom: 10px;

}
.priceBox {
  background: #ecf7fc;
  text-align: right;
  vertical-align: middle;
  height: 120px;
  padding-top: 10px;
  color: #000000;
}
.seeitem {
  border-top: solid 1px #ecf7fc;
  display: inline-block;
  width: 100%;
}
.page-headerexterno {
  position: fixed;
  top: 0px;
  right: 10px;
  z-index: 100000;
  border: 0px;
}
.blue {
  color: #8d3cfc;
}
.attach {
  width: 100%;
}
.attachBox {
  min-height: 100px;
}
textarea {
  resize: vertical;
  overflow:visible;
}

.topicoAjuda {
  margin-bottom: 15px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #154055;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #154055;
}
.active-menu {
    background-color: #154055 !important;
}
span.greenBox {
    background-color: blue !important;
    color:#FFF !important;
    display: inline-block !important;
    padding-left: 5px;
    padding-right: 5px;
}
span.redBox {
    background-color: red !important;
    color:#FFF !important;
    display: inline-block !important;
    padding-left: 5px;
    padding-right: 5px;
}
.avatar-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.page-progress .project {
    position: relative;
    margin-bottom: 10px;
}
/* PAGE - PROGRESS PROJECT */
.page-progress .project .name {
    margin: 5px 0 10px 5px;
    border: solid;
    border-width: 0 0 2px 0;
    border-color: #6d6d6d;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.page-progress .project {
    padding: 5px;
    background-color: #f9f9f9;
    display: table;
    width: 100%;
    border: 1px solid;
    border-color: #000000;
}
.page-progress .bar .bar-progress {
    float: left;
}
.page-progress .bar-progress {
    position: relative;
    float: right;
    width: 40px;
    text-align: center;
}
.page-progress .bar-progress label {
    font-size: 10px;
}
.page-progress .bar-progress .bar-activity {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 30px;
    height: 5px;
    background-color: #2d8df3;
}
.recovery{
    color: #fff;
    text-align: left !important;
    cursor:pointer;
    margin-top: 5px;
}

.recovery:hover{
    text-shadow: 1px 1px 1px #888;
}
.red {
  color:red !important;
}
.slide {
  text-align: center;
  width: 100%;;
}
.panel-primary>.panel-heading {
  background-color: #000;
}
.btn-info {
  background-color: #54ded6;
  border-color: #46b8da;
}
label {
  margin-top: 10px;
}
.invalid {
  border: 1px solid red;
}
.right {
  text-align: right;
}
