<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>[#pageTitle#]</title>

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/js/global.js"></script>
  <script src="/js/jquery.mask.min.js"></script>
  <script src="/js/jquery.maskMoney.js"></script>
  <script src="/js/sweetalert.min.js"></script>
  <script src="/js/toastr.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-pt_BR.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">
  <link href="/css/toastr.css" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/css/alphacode.css" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd4qd2KvkBmsPUr6jmP6bKD7mmhR3vC-k&libraries=places&language=pt-BR" defer></script>
</head>
