<div class="col-sm-3 col-md-2 sidebar text-center">
  <ul class="nav nav-sidebar">
    <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->

    [#cliente_menu#]
  </ul>
</div>
