<ul class="nav navbar-nav navbar-right">
  <!--<li><a href="#">Dashboard</a></li>-->
  <!--<li><a href="#">Settings</a></li>-->
  <!--<li><a href="#">Profile</a></li>-->
  <li id="logout"><a href="/admin/logout" style="color: #fff">Sair</a></li>
</ul>
<!--<form class="navbar-form navbar-right">
  <input type="text" class="form-control" placeholder="Search...">
</form>-->
