<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid borda">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin"><img  src="/images/logo-adm.png" alt="" class="img-logo-adm"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      [#topmenu#]
    </div>
  </div>
</nav>
